body {    
    background-color: #191425;
    margin: 0;
    padding: 0;
    color: #18181b;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: block;
    text-align: center;
}

.image-logo {
    display: block;
    margin: 0 auto;
    bottom: 50px;
}

.page {
    top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}


.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #007bff;;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #007bff;;
}

.btn {
    background-color: #007bff;;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none ;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #007bff;

}